

.main {
  width: 100%;
  /*height: 100vh;*/
  background-color: rgb(242, 239, 149);
  padding: 25px;
}

.banner {
  width: 100%;
  height: 150px;
  background: rgb(7, 131, 103);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px
}

.title {
  font-size: 100px
}

.subtitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.main-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.side-wrapper {
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;
}

.side-wrapper2 {
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.weather-wrapper {
  width: 500px;
  height: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8%;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 30px;
  background: rgb(226, 227, 225)

}

.weather-box {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


}

.city-text {
  font-size: 70px;
 }

 .weather-text {
   font-size: 40px;
 }

 .time-text {
   font-size: 30px;
 }

 .sprinkler-text {
   font-size: 40px;
   text-align: center;
 }


.condition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-image {
  margin-right: 10px;
  width: 75px;
  height: 75px;
}

.zip-box {
  width: 500px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.background-yes {
  width: 497px;
  height: 296px;
  border-radius: 8%;
  background: url("./Sprinkler.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-no {
  width: 497px;
  height: 296px;
  border-radius: 8%;
  background: url("./water.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-transparent {
  width: 497px;
  height: 296px;
  border-radius: 8%;
  background: rgba(255,255,255,0.5);
}
